@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');

body{
    background-color:#261201 ;
}
.cor{
    background-color: #F27507;
}
.container{
    background-color: #D95407;
}
.branco{
    color:ghostwhite;
    font-family:Smythe,sans-serif;
}
.tamanho{
    font-size: 1.5rem;
}
.espaço{
    margin-left:20%;
    margin-bottom:2%;
}
.margem{
    margin-top:2%;
}
.menor{
    width:100%;
}